:root {
  --color-text--primary: #dfcf99;
  --color-text--active: #f2c462;
  --color-border: #734e32;
  --color-bg: rgb(15, 15, 15);
  --color-bg--hover: #5a380680;
  --color-bg--active: #5a3806;
  --color-divider: #5e4f45;
  --color-text--mods: rgb(136, 136, 255);
  --color-text--unique: rgb(175, 96, 37);
  --color-text--default: rgb(127, 127, 127);
  --color-slot: rgb(15, 23, 42);

  --size-tab-height: 2.6rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: var(--color-border);
}

*::-webkit-scrollbar-track {
  margin: 5px 0;
  background-color: #000;
}

@font-face {
  font-family: 'Fontin';
  src: url(./assets/FontinSans_Cyrillic_R_46b.otf);
  font-display: swap;
}
@font-face {
  font-family: 'FontinCard';
  src: url(./assets/FontinSans_Cyrillic_SC_46b.otf);
  font-display: swap;
}
@font-face {
  font-family: 'FontinBold';
  src: url(./assets/FontinSans_Cyrillic_B_46b.otf);
  font-display: swap;
}

@font-face {
  font-family: 'FontinItalic';
  src: url(./assets/FontinSans_Cyrillic_I_46b.otf);
  font-display: swap;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  @media (max-width: 1320px) {
    font-size: 50%;
  }
  @media (max-width: 1060px) {
    font-size: 38%;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

body {
  height: 100vh;
  background: url(/images/bg.jpg) no-repeat #000;
  background-position: center top;
  background-size: contain;
  padding: 3rem;
}

#root {
  width: 100%;
  height: 100%;
}

@keyframes l19 {
  100% {
    transform: rotate(1turn);
  }
}
